* {
  font-family: Arial, sans-serif;
  padding: 3px;
}

.orange {
  color: #ff5400;
}

.navbar {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.banner-section-1 {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./Images/Group\ 13\ \(1\)\ \(1\).png");

  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-1-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

  width: 100%;
}

.input-first-banner {
  padding: 8px;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}
.banner-1-inputs {
  display: flex;
  background-color: rgb(255, 255, 255, 0.3);
  width: 55%;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}
.button {
  padding: 10px;
  border-radius: 7px;
  background-color: #ff5400;
  color: white;
  border: none;
  cursor: pointer;
  width: 80%;
  height: 80%;
}

.popular-tours-section {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}

.destination-section-image {
  width: 100%;
}
.destination-section-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.destination-section-image-box {
  position: relative;
}

@media screen and (max-width: 600px) {
  .nav-list {
    display: none;
  }
  .banner-1-inputs {
    flex-direction: column;
    margin: auto;
  }
  .input-first-banner {
    margin: auto;
  }
  .button {
    margin: auto;
    width: 85%;
  }
  .popular-tours-section {
    flex-direction: column;
  }
}

@media screen and (min-width: 600px) {
  .nav-icon {
    display: none;
  }
}
